<style>
/* Text Styles */
	.logo{
		font-size: 62px;
		text-align: center;
		color: white;
	}
	h1{
		font-size: 62px;
		text-align: center;
		color: white;
	}
	h2,h3,h4,h5 {
		text-align: left;
		color: white;
	}
	p {
		color: white;
	}
/* Link Styles*/
	a:link, a:visited, a:hover, a:active {
		text-decoration: none;
	}
/* Image Styles */
	.tscreen img {
		border-radius: 5%;
		margin-right: 25px;
	}
	.logo {
		border-radius: 15%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 11%;
	}
	.titleshot {
		border-radius: 15%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.smedia img {
		border-radius: 5%;
		margin-right: 25px;
	}
/* Box Styling */
			* {
				box-sizing: border-box;
			}

/* Set a background color */
			body {
				background-image: linear-gradient(to top, rgba(246, 178, 107, 0.42), rgba(0, 0, 0, 0)), url(images/t_background.png);
				background-repeat: repeat;
				background-attachment: fixed;
				font-family: 'Barlow', sans-serif;
			}
			#grad {
				background-image: linear-gradient(to right, red , yellow);
			}

/* Container around content */
			.container {
				padding: 10px 40px;
				margin: 0 auto;
				position: relative;
				background-color: inherit;
				width: 55%;
			}
/* Chead Clone Code */
		.chead1,.chead2,.chead3,.chead4,.chead5,.chead6,.chead7 {
				padding: 10px 40px;
				margin: 0 auto;
				position: relative;
				background-color: inherit;
				background-size: 90%;
				width: 52%;
			}
/* The actual content */	
		.content {
			padding: 20px 30px;
			background-color: #777777;
			transition: transform .2s; /* Animation */
			position: relative;
			border-radius: 6px;
		}
		.contentpage {
			padding: 20px 10px;
			background-color: #777777;
			position: relative;
			border-radius: 6px;
		}
		.contentinfo {
			height: 550px;
			padding: 0px 5px;
			background-color: #777777;
			position: relative;
			border-radius: 6px;
		}
		hr{
			position: left;
			width: 90%;
			margin: 0 auto;
		}
		.contenths{
			padding: 5px 10px;
			background-size: 967px; 
			background-position: center;
			position: relative;
			border-radius: 6px;
		}
		.content:hover {
			transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
		}
/*Download Buttons*/
.btn {
  background-color: #F6B26B;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #000000;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
	@media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 31px;
	}
	/* Full-width containers */
	.container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
}
</style>
