<style>
	/*CATEGORY: FONTS*/
		@font-face{ 
			font-family: 'ethnocentric';
			src: url('../../assets/fonts/Ethnocentric Rg It.otf');
		}
		@font-face{ 
			font-family: 'forgotten futurist';
			src: url('../../assets/fonts/Forgotten Futurist Rg.otf');
		}
		@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css";
		h1, h2, h3, h4, h5, h6 {
			font-family: ethnocentric;
			color: #782904;
		}
		p, ul, li, hr {
			font-family: 'forgotten futurist', bitmap;
			font-size: 16px;
			color: #782904;
		}
		#time, #displaytext{
			font-size: 18px; 
			text-align: center; 
			color: #d97150;
		}
		.discord {
			padding: 5px;
			fill: #782904;
			border-radius: 30%;
		}
		.discord:hover {
			background: #782904;
			fill: #d97150;
		}
	/*CATEGORY: PAGES - MAIN*/
		html, body {
			background-image: linear-gradient(to top, rgba(246, 178, 107, 0.42), rgba(0, 0, 0, 0)), url("../../assets/ui/bg/tb_background.png");
			background-repeat: repeat;
			background-attachment: fixed;
			width: 1080px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			font-size: 16px;
			font-family: 'forgotten futurist', bitmap;
		}
		#rightcontent {
			width: 75%;
			margin-left: 250px;
			border-radius: 0 0 20px 20px;
			text-align: center;
			grid-area: 3 / 2 / 2 / 2;
		}
		.headder {
			background-image: url("assets/banners/b_main/b_main_1.png");
			background-position: left 20%;
			background-size: 100%;
			background-position: center;
			height: 190px;
			border-radius: 20px 20px 20px 0;
			background-clip: padding-box;
		}
		.logo {
			float: right;
			margin-right: 170px;
			margin-top: 20px;
		}
		.page {
			width: 1080px;
			border: 3px solid #782904;
			border-radius: 20px;
			background-color: #d97150;
			padding: 20px;
			box-shadow:  3px 8px 0px 5px rgba(120, 41, 4, 1);
		}
		.stars {
			left: 0px;
			top: 0px;
			width: 100%;
			opacity: 0.2;
			position: fixed;
			z-index: -1;
		}
		#grid {
			display: grid;
			grid-template-columns: repeat (5, 1fr);
		}
	/* CATEGORY: NAVIGATION */
		#leftsidebar {
			width: 20%;
			background-color: #782904;
			border-radius: 0 0 20px 20px;
			text-align: center;
			grid-area: 1 / 1 / 5 / 6;
		}
		#leftsidebar p {
			margin: 20px;
		}
		/*Navbar and Navbar Container*/
		.navbar {
			overflow: hidden;
			width: 38%;
			background-color: rgba (0,0,0,0);
		}
		.navbar a {
			color: #d97150;
			fill: #d97150;
			text-align: center;
			text-decoration: none;
		}
		.navbar a:hover, .navicon:hover{
			color: #782904;
			fill: #782904;
			background: #d97150;
			padding: 10px;
			border-radius: 5px;
		}
		#body {
			grid-area: 1 / 5 / 1 / 3;
		}
		#updates {
			width: 20%;
			background-color: #782904;
			border-radius: 20px;
			text-align: center;
			grid-area: 2 / 1 / 5 / 6;
		}
		#sec1 {
			width: 80%;
			margin-right: auto;
			margin-left: auto;
		}
		.hero, .hero2{
			/*background-color: #783f04;*/
			text-align: center; 
			padding: 20px 20px;
			border-radius: 10px;
		}
		.hero{
			background-color: #782904;
		}
		.hero2{
			background-color: #d97150;
		}
		.tscreen img {
			border-radius: 7%;
		}
	/*ELEMENTS: CONTAINER & CONTENT*/
		/* Container (for content) */
		.container {
			padding: 10px 40px;
			margin: 0 auto;
			position: relative;
			background-color: inherit;
			width: 55%;
		}
		/* The actual content */	
		.content {
			padding: 20px 20px;
			background-color: #d97150;
			/*background-color: #e69138;*/
			border-radius: 20px;
			position: relative;
		}
		.content2 {
			padding: 20px 20px;
			border-radius: 20px;
			background-color: #782904; 
			position: relative;
		}
	/*ELEMENTS: TABLES*/
		table, th, td {
			background-color: rgba(0,0,0,0);
			text-align: center;
		}
		td{
			width: fit-content;
		}
		tbody{
			width:100%;
			display: table;
		}
		/*Buttons with Animation*/	
		.button {
			padding: 20px 20px;
			transition: transform .2s; /* Animation */
			position: relative;
			border-radius: 20px;
		}
		.button:hover {
			transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
		}
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	
	/*CATEGORY: NAVBAR & BUTTONS*/
		/* The dropdown container */
		.dropdown {
		  float: left;
		  overflow: hidden;
		}
		/* Dropdown button */
		.dropdown .dropbtn {
		  border: none;
		  outline: none;
		  color: white;
		  background-color: inherit;
		  font-family: inherit; /* Important for vertical align on mobile phones */
		  margin: 0; /* Important for vertical align on mobile phones */
		}
		/* Dropdown content (hidden by default) */
		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: rgba(249,249,249,0.5);
		  min-width: 190px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}
		/* Links inside the dropdown */
		.dropdown-content a {
		  float: none;
		  color: black;
		  text-decoration: none;
		  display: block;
		  text-align: left;
		}
		/* Add a grey background color to dropdown links on hover */
		.dropdown-content:hover {
		  background-color: #ddd;
		}
		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {
		  display: block;
		}
		/*SVG Divider*/
		.divider-custom {
			margin: 1.25rem 0 1.5rem;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.divider-custom .divider-custom-line {
		  width: 100%;
		  max-width: 7rem;
		  height: 0.25rem;
		  background-color: #d97150;
		  border-radius: 1rem;
		  border-color: #d97150;
		}
		.divider-custom .divider-custom-line:first-child {
		  margin-right: 1rem;
		}
		.divider-custom .divider-custom-line:last-child {
		  margin-left: 1rem;
		}
		.divider-custom .divider-custom-icon {
		  color: #d97150;
		  font-size: 2rem;
		}
		.divider-custom.divider-light .divider-custom-line {
		  background-color: #fff;
		}
		.divider-custom.divider-light .divider-custom-icon {
		  color: #fff;
		}
		svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
			overflow: visible;
			box-sizing: content-box;
		}
		.svg-inline--fa {
			display: var(--fa-display,inline-block);
			height: 1em;
			overflow: visible;
			vertical-align: -.125em;
		}
</style>